{% extends 'base.html' %}
{% block title %}Crime Report{% endblock %}

{% block content %}
<h3> Application</h3>
<P>Provide Necesary Info to the form below.</p>

<div class="container mt-5">
	<div class="row justify-content-center">
	  <div class="col-md-6 bg-light p-5">
        
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                NID Birth Cetificate
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                2x ID size photos
            </label>
          </div>

          <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
              NID Birth Cetificate
          </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Commissionar of Oaths
            </label>
          </div>
          <br><br><br>
          <a href="{% url 'check' %}" class="btn btn-primary mb-2">Begin Application</a>

    </div>

  </div>

  </div>

{% endblock %}